/* styles/system.css - Main entry point */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* Import modular stylesheets */
@import url('./core/variables.css');
@import url('./core/base.css');
@import url('./components/forms.css');
@import url('./components/buttons.css');
@import url('./components/tables.css');
@import url('./components/lists.css');
@import url('./components/editors.css');
@import url('./layout/character-header.css');
@import url('./layout/stats-row.css');
@import url('./layout/sheet-layout.css');
@import url('./layout/external-tabs.css');
@import url('./sheets/item-sheet.css');
@import url('./elements/portraits.css');
@import url('./elements/icons.css');
@import url('./elements/dice-display.css');
@import url('./elements/scrollbars.css');
@import url('./responsive/breakpoints.css');